.about-product {
  padding: 35px 15px 88px;
  font-family: $font-montseratt;

  @include mobile-normal {
    padding-bottom: 78px;
  }

  @include tablet {
    padding: 48px 40px 98px;
  }

  @include desktop {
    padding: 48px 40px 70px;
  }

  &__content {
    @include flex-column-center;
  }

  &__title {
    font-size: 26px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    color: $violet-title;
    margin-bottom: 24px;
    text-align: center;

    @include mobile-normal {
      font-size: 42px;
      line-height: 48px;
      margin-bottom: 54px;
    }

    @include tablet {
      font-size: 42px;
      margin-bottom: 38px;
    }

    @include desktop {
      font-size: 54px;
      margin-bottom: 38px;
    }
  }

  &__description {
    font-family: $font-lato;
    font-size: 14px;
    line-height: 20px;
    color: $black;
    opacity: 0.8;
    margin-bottom: 35px;
    text-align: center;

    @include mobile-normal {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 38px;
    }

    @include min-width(#{$landscape-mobile-big + 1}) {
      font-size: 21px;
      line-height: 32px;
      margin-bottom: 36px;
    }
  }

  &__small-info {
    font-size: 14px;
    margin-bottom: 72px;
    color: $grey;
  }
}
