@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?r5u5lk');
  src:  url('../fonts/icomoon.eot?r5u5lk#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?r5u5lk') format('truetype'),
  url('../fonts/icomoon.woff?r5u5lk') format('woff'),
  url('../fonts/icomoon.svg?r5u5lk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e900";
}
.icon-fork:before {
  content: "\e901";
}
.icon-star:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}